.header {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 2.4rem;
  line-height: 2.8rem;

  height: 100vh;
  min-height: 103.2rem;
  background-image: url(../images/header-bg.svg);
  background-repeat: no-repeat;
  background-size: 66%;
  background-position-x: 96%;
  background-position-y: 92%;
}
