html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  padding: 0 5.13%; }

button,
a,
label,
input {
  cursor: pointer; }

* {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
  text-decoration: none;
  border: none;
  outline: none;
  background-color: transparent;
  font-family: Roboto;
  font-style: normal;
  font-size: inherit;
  font-weight: normal; }
  *:focus {
    outline: none; }

.header {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 2.4rem;
  line-height: 2.8rem;
  height: 100vh;
  min-height: 103.2rem;
  background-image: url(./img/header-bg.svg);
  background-repeat: no-repeat;
  background-size: 66%;
  background-position-x: 96%;
  background-position-y: 92%; }
  .header__top {
    display: flex;
    align-items: center; }
  .header__logo {
    display: flex;
    max-width: 20.8%;
    align-items: center; }
    .header__logo h1 {
      font-weight: 900;
      font-size: 4.5rem;
      line-height: 5.3rem;
      color: #0d508f;
      margin-left: 3.8rem;
      white-space: pre-wrap; }
  .header__img {
    height: 17.2rem; }
  .header__cart-btn {
    background-color: #0d508f;
    border-radius: 0.9rem;
    padding: 1.2rem 1.35rem;
    margin-left: 56%;
    margin-top: 0.8rem; }
  .header__cart-img {
    width: 3rem;
    height: 3rem; }
  .header__login {
    border-radius: 0.9rem;
    color: #edfeff;
    padding: 1.4rem 2.1rem;
    background-color: #edc553;
    margin-left: 2.7%;
    margin-top: 0.8rem; }
  .header__func {
    margin-top: 16rem; }
    .header__func h2 {
      font-weight: 500;
      font-size: 6.9rem;
      line-height: 8.1rem;
      color: #737373; }
      .header__func h2 span {
        font-weight: 900; }
  .header__form {
    margin-top: 9rem;
    display: flex; }
  .header__input {
    width: 45.1rem;
    background: #f2f2f2;
    border-top-left-radius: 2.3rem;
    border-bottom-left-radius: 2.3rem;
    padding: 1.4rem 2.5rem 1.8rem 2.5rem;
    color: #000; }
    .header__input::placeholder {
      color: #cac0c0; }
  .header__search {
    background-color: #edc553;
    display: flex;
    border-top-right-radius: 2.3rem;
    border-bottom-right-radius: 2.3rem; }
    .header__search span {
      color: #edfeff;
      display: block;
      margin-top: 1.4rem;
      margin-bottom: 1.8rem;
      margin-left: 3.5rem; }
    .header__search img {
      height: 2.7rem;
      width: 2.7rem;
      margin: 1.7rem 2rem 1.6rem 1rem; }

.main {
  margin-top: -5rem; }
  .main__headings {
    display: flex; }
    .main__headings h3 {
      font-family: Roboto;
      font-style: normal;
      font-weight: 500;
      font-size: 3.6rem;
      line-height: 4.2rem;
      color: #5a5a5a; }
      .main__headings h3:first-child {
        margin-right: 19.2%; }
  .main__content {
    display: grid;
    grid-template-columns: 25rem 1fr; }
  .main__filter {
    display: flex;
    flex-direction: column; }
    .main__filter__category {
      font-family: Roboto;
      font-style: normal;
      font-weight: 500;
      font-size: 1.8rem;
      line-height: 2.1rem;
      color: #828282; }
      .main__filter__category--1 h4 {
        margin: 3.5rem 0 2.9rem 0; }
      .main__filter__category--2 h4 {
        margin: 3.7rem 0 1.9rem 0; }
      .main__filter__category--3 h4 {
        margin: 5rem 0 1.7rem 0; }
      .main__filter__category--4 h4 {
        margin: 4.7rem 0 1.7rem 0; }
      .main__filter__category--5 h4 {
        margin: 3.2rem 0 1.7rem 0; }
      .main__filter__category--closed {
        margin-top: 1.5rem;
        display: flex;
        justify-content: space-between; }
        .main__filter__category--closed p {
          font-weight: 500;
          font-size: 1.4rem;
          line-height: 1.6rem; }
  .main__select {
    width: 25rem;
    height: 0.9rem;
    background-color: #d8d8d8;
    border-radius: 0.45rem;
    display: flex; }
    .main__select__progress {
      background-color: #00c4cc;
      border-radius: 0.45rem;
      height: 0.9rem;
      margin-left: 0.1rem;
      flex: 1;
      display: flex;
      justify-content: space-between;
      transition: all 0.05s; }
      .main__select__progress--resizer {
        width: 0.9rem;
        height: 0.9rem;
        border-radius: 50%;
        background-color: #0d508f; }
  .main__value-container {
    display: flex;
    justify-content: space-between;
    margin-top: 0.6rem; }
  .main__value {
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 1.4rem;
    line-height: 1.6rem;
    color: #828282; }
  .main__parameter {
    display: flex;
    justify-content: space-between;
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 1.4rem;
    line-height: 1.6rem;
    margin-top: 1rem; }
    .main__parameter:first-of-type {
      margin-top: 1.9rem; }
    .main__parameter__left {
      display: flex; }
      .main__parameter__left .btn {
        margin-top: 1.3rem; }
    .main__parameter__right {
      text-align: right; }
  .main__input {
    display: none; }
    .main__input:checked + * img {
      display: block; }
  .main__checkbox {
    display: block;
    width: 1.5rem;
    height: 1.5rem;
    position: relative;
    margin-right: 0.5rem;
    background: #fff;
    border: 0.1rem solid #e2e2e2;
    border-radius: 50%;
    cursor: pointer; }
    .main__checkbox img {
      width: 1.3rem;
      display: none; }
  .main__star-container {
    width: 10.5rem;
    display: flex;
    justify-content: space-between;
    margin-right: 0.9rem; }
  .main__star {
    display: block;
    height: 1.5rem;
    width: 1.5rem; }
  .main__view {
    padding-left: 7.7rem;
    overflow-x: auto; }
  .main__categories {
    display: flex;
    width: 100%;
    overflow-x: auto; }
    .main__categories--1 {
      margin-top: 5.9rem; }
    .main__categories::-webkit-scrollbar {
      display: none; }
  .main__category {
    padding-top: 7.3rem;
    padding-bottom: 3.4rem;
    width: 25rem;
    border-radius: 4.6rem;
    background-color: #f2f2f2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    flex-shrink: 0; }
    .main__category h2 {
      font-family: Roboto;
      font-style: normal;
      font-weight: normal;
      font-size: 2.4rem;
      line-height: 2.8rem;
      margin-top: 5.4rem;
      margin-bottom: 2.4rem;
      color: #737373;
      text-align: center; }
    .main__category:not(:first-child) {
      margin-left: 3.5rem; }
    .main__category--book {
      padding: 2.7rem 2.5rem 3rem 2.7rem; }
    .main__category__bookface {
      width: 14.5rem;
      height: 23.5rem;
      position: relative; }
      .main__category__bookface img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: 100%;
        width: auto; }
    .main__category__down-section {
      width: 100%;
      display: flex;
      justify-content: space-between;
      margin-top: 4rem; }
    .main__category__buttons-section {
      display: flex; }
      .main__category__buttons-section button:not(:first-child) {
        margin-left: 0.9rem; }
      .main__category__buttons-section button img {
        height: 2rem;
        width: auto; }
    .main__category__book-btn {
      padding: 0.8rem 0.7rem 0.8rem 0.7rem !important; }
      .main__category__book-btn img {
        height: 3.2rem;
        width: 3.1rem; }
  .main h3 {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 3.6rem;
    line-height: 4.2rem;
    color: #5a5a5a;
    margin-bottom: 3.4rem;
    margin-top: 5.2rem; }

.btn {
  border: 1px solid #edc553;
  box-sizing: border-box;
  border-radius: 0.9rem;
  padding: 1.2rem 3.4rem 1.2rem 3.4rem;
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 1.8rem;
  line-height: 2.1rem;
  color: #828282; }
  .btn--wide-blue {
    background-color: #0d508f;
    font-weight: normal;
    font-size: 2.4rem;
    line-height: 2.8rem;
    padding: 0.6rem 3.6rem 1.2rem 3.7rem;
    border: none;
    border-radius: 0.9rem;
    color: #f2f2f2; }

.container {
  max-width: 144rem;
  margin: 0 auto; }
