.header {
  &__cart-btn {
    background-color: $blue;
    border-radius: 0.9rem;
    padding: 1.2rem 1.35rem;
    margin-left: 56%;
    margin-top: 0.8rem;
  }

  &__cart-img {
    width: 3rem;
    height: 3rem;
  }
}
