.btn {
  border: 1px solid $yellow;
  box-sizing: border-box;
  border-radius: 0.9rem;
  padding: 1.2rem 3.4rem 1.2rem 3.4rem;
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 1.8rem;
  line-height: 2.1rem;
  color: $gray--1;

  &--wide-blue {
    background-color: $blue;
    font-weight: normal;
    font-size: 2.4rem;
    line-height: 2.8rem;
    padding: 0.6rem 3.6rem 1.2rem 3.7rem;
    border: none;
    border-radius: 0.9rem;
    color: $dark;
  }
}
