.header {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 2.4rem;
  line-height: 2.8rem;

  height: 100vh;
  min-height: 103.2rem;
  background-image: url(./img/header-bg.svg);
  background-repeat: no-repeat;
  background-size: 66%;
  background-position-x: 96%;
  background-position-y: 92%;

  &__top {
    display: flex;
    align-items: center;
  }

  &__logo {
    display: flex;
    max-width: 20.8%;
    align-items: center;

    h1 {
      font-weight: 900;
      font-size: 4.5rem;
      line-height: 5.3rem;
      color: $blue;
      margin-left: 3.8rem;
      white-space: pre-wrap;
    }
  }
  &__img {
    height: 17.2rem;
  }

  &__cart-btn {
    background-color: $blue;
    border-radius: 0.9rem;
    padding: 1.2rem 1.35rem;
    margin-left: 56%;
    margin-top: 0.8rem;
  }

  &__cart-img {
    width: 3rem;
    height: 3rem;
  }

  &__login {
    border-radius: 0.9rem;
    color: $white;
    padding: 1.4rem 2.1rem;
    background-color: $yellow;
    margin-left: 2.7%;
    margin-top: 0.8rem;
  }

  &__func {
    margin-top: 16rem;

    h2 {
      font-weight: 500;
      font-size: 6.9rem;
      line-height: 8.1rem;
      color: $gray;
      span {
        font-weight: 900;
      }
    }
  }

  &__form {
    margin-top: 9rem;
    display: flex;
  }

  &__input {
    width: 45.1rem;
    background: $dark;
    border-top-left-radius: 2.3rem;
    border-bottom-left-radius: 2.3rem;
    padding: 1.4rem 2.5rem 1.8rem 2.5rem;
    color: $black;

    &::placeholder {
      color: $cacao;
    }
  }

  &__search {
    background-color: $yellow;
    display: flex;
    border-top-right-radius: 2.3rem;
    border-bottom-right-radius: 2.3rem;
    span {
      color: $white;
      display: block;
      margin-top: 1.4rem;
      margin-bottom: 1.8rem;
      margin-left: 3.5rem;
    }
    img {
      height: 2.7rem;
      width: 2.7rem;
      margin: 1.7rem 2rem 1.6rem 1rem;
    }
  }
}
