.main {
  margin-top: -5rem;
  &__headings {
    display: flex;
    h3 {
      font-family: Roboto;
      font-style: normal;
      font-weight: 500;
      font-size: 3.6rem;
      line-height: 4.2rem;
      color: $brown;
      &:first-child {
        margin-right: 19.2%;
      }
    }
  }

  &__content {
    display: grid;
    grid-template-columns: 25rem 1fr;
  }

  &__filter {
    display: flex;
    flex-direction: column;
    &__category {
      font-family: Roboto;
      font-style: normal;
      font-weight: 500;
      font-size: 1.8rem;
      line-height: 2.1rem;
      color: $gray--1;

      &--1 {
        h4 {
          margin: 3.5rem 0 2.9rem 0;
        }
      }

      &--2 {
        h4 {
          margin: 3.7rem 0 1.9rem 0;
        }
      }

      &--3 {
        h4 {
          margin: 5rem 0 1.7rem 0;
        }
      }

      &--4 {
        h4 {
          margin: 4.7rem 0 1.7rem 0;
        }
      }

      &--5 {
        h4 {
          margin: 3.2rem 0 1.7rem 0;
        }
      }

      &--closed {
        margin-top: 1.5rem;
        display: flex;
        justify-content: space-between;

        p {
          font-weight: 500;
          font-size: 1.4rem;
          line-height: 1.6rem;
        }
      }
    }
  }

  &__select {
    width: 25rem;
    height: 0.9rem;
    background-color: $gray--2;
    border-radius: 0.45rem;
    display: flex;
    &__progress {
      background-color: $light-blue;
      border-radius: 0.45rem;
      height: 0.9rem;
      margin-left: 0.1rem;
      flex: 1;
      display: flex;
      justify-content: space-between;
      transition: all 0.05s;
      &--resizer {
        width: 0.9rem;
        height: 0.9rem;
        border-radius: 50%;
        background-color: $blue;
      }
    }
  }

  &__value-container {
    display: flex;
    justify-content: space-between;
    margin-top: 0.6rem;
  }

  &__value {
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 1.4rem;
    line-height: 1.6rem;

    color: $gray--1;
  }

  &__parameter {
    display: flex;
    justify-content: space-between;
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 1.4rem;
    line-height: 1.6rem;
    margin-top: 1rem;

    &:first-of-type {
      margin-top: 1.9rem;
    }

    &__left {
      display: flex;
      .btn {
        margin-top: 1.3rem;
      }
    }

    &__right {
      text-align: right;
    }
  }

  &__input {
    display: none;

    &:checked + * img {
      display: block;
    }
  }

  &__checkbox {
    display: block;
    width: 1.5rem;
    height: 1.5rem;
    position: relative;
    margin-right: 0.5rem;
    background: $clear-white;
    border: 0.1rem solid $blur-white;
    border-radius: 50%;
    cursor: pointer;

    img {
      width: 1.3rem;
      display: none;
    }
  }

  &__star-container {
    width: 10.5rem;
    display: flex;
    justify-content: space-between;
    margin-right: 0.9rem;
  }

  &__star {
    display: block;
    height: 1.5rem;
    width: 1.5rem;
  }

  &__view {
    padding-left: 7.7rem;
    overflow-x: auto;
  }

  &__categories {
    display: flex;
    width: 100%;
    overflow-x: auto;

    &--1 {
      margin-top: 5.9rem;
    }

    &::-webkit-scrollbar {
      display: none;
    }
  }

  &__category {
    padding-top: 7.3rem;
    padding-bottom: 3.4rem;
    width: 25rem;
    border-radius: 4.6rem;
    background-color: $dark;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    flex-shrink: 0;

    h2 {
      font-family: Roboto;
      font-style: normal;
      font-weight: normal;
      font-size: 2.4rem;
      line-height: 2.8rem;
      margin-top: 5.4rem;
      margin-bottom: 2.4rem;
      color: $brown--1;
      text-align: center;
    }

    &:not(:first-child) {
      margin-left: 3.5rem;
    }

    &--book {
      padding: 2.7rem 2.5rem 3rem 2.7rem;
    }

    &__bookface {
      width: 14.5rem;
      height: 23.5rem;
      position: relative;
      img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: 100%;
        width: auto;
      }
    }

    &__down-section {
      width: 100%;
      display: flex;
      justify-content: space-between;
      margin-top: 4rem;
    }

    &__buttons-section {
      display: flex;

      button {
        &:not(:first-child) {
          margin-left: 0.9rem;
        }

        img {
          height: 2rem;
          width: auto;
        }
      }
    }

    &__book-btn {
      padding: 0.8rem 0.7rem 0.8rem 0.7rem !important;
      img {
        height: 3.2rem;
        width: 3.1rem;
      }
    }
  }

  h3 {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 3.6rem;
    line-height: 4.2rem;
    color: $brown;

    margin-bottom: 3.4rem;
    margin-top: 5.2rem;
  }
}
