$blue: #0d508f;
$light-blue: #00c4cc;
$clear-white: #fff;
$blur-white: #e2e2e2;
$white: #edfeff;
$yellow: #edc553;
$gray: #737373;
$dark: #f2f2f2;
$cacao: #cac0c0;
$black: #000;
$brown: #5a5a5a;
$brown--1: #737373;
$gray--1: #828282;
$gray--2: #d8d8d8;

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  padding: 0 5.13%;
}

button,
a,
label,
input {
  cursor: pointer;
}

* {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
  text-decoration: none;
  border: none;
  outline: none;
  background-color: transparent;
  font-family: Roboto;
  font-style: normal;
  font-size: inherit;
  font-weight: normal;
  &:focus {
    outline: none;
  }
}

@import "./main/main.scss";
