.header {
  &__logo {
    display: flex;
    max-width: 20.8%;
    align-items: center;

    h1 {
      font-weight: 900;
      font-size: 4.5rem;
      line-height: 5.3rem;
      color: $blue;
      margin-left: 3.8rem;
      white-space: pre-wrap;
    }
  }
  &__img {
    height: 17.2rem;
  }
}
