.header {
  &__form {
    margin-top: 9rem;
    display: flex;
  }

  &__input {
    width: 45.1rem;
    background: $dark;
    border-top-left-radius: 2.3rem;
    border-bottom-left-radius: 2.3rem;
    padding: 1.4rem 2.5rem 1.8rem 2.5rem;
    color: $black;
    cursor: text;

    &::placeholder {
      color: $cacao;
    }
  }

  &__search {
    background-color: $yellow;
    display: flex;
    border-top-right-radius: 2.3rem;
    border-bottom-right-radius: 2.3rem;
    span {
      color: $white;
      display: block;
      margin-top: 1.4rem;
      margin-bottom: 1.8rem;
      margin-left: 3.5rem;
    }
    img {
      height: 2.7rem;
      width: 2.7rem;
      margin: 1.7rem 2rem 1.6rem 1rem;
    }
  }
}
